.contactBox {    
    min-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    /* width: calc((100% - (2 * 20px)) / 3); */
    font-size: 20px;
    font-weight: 500;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 270px;    
    overflow: hidden;
}
.delbtn {
    max-height: fit-content;
}
.contactInfo {
    display: flex;
    gap: 10px;
    align-items: center;
}
